snippet br newline
	<br>

snippet more "HTML more tag"
	<!--more-->

snippet detail "Clickable details"
	<details>
	<summary><font size="2" color="red">${1:Click to show the code.}</font></summary>

	$2
	</details>
